In [2]:
import pandas as pd



#Read in a CSV

In [3]:
data = pd.read_csv('SLCWeatherAsCSV.csv')
data.head(5)

,Date,Observed Low (F),Observed High (F),Observed Precipitation (in),Observed Snow Fall (in)
0,1/1/2021,17,32,0,0
1,1/2/2021,23,39,0,0
2,1/3/2021,24,36,0.02,0.2
3,1/4/2021,26,45,0,0
4,1/5/2021,27,43,0.05,0